In [1]:
import pandas as pd

In [2]:
df = pd.read_clipboard()

In [3]:
df.head()

  Pozycja      Państwo    1980    1990    2000     2010     2018
0       1        Katar  72 279  46 369  87 055  127 196  130 475
1       —        Makau    b.d.    b.d.    b.d.   93 506  116 808
2       2   Luksemburg  15 659  37 012  65 337   90 640  106 705
3       3     Singapur   8 887  22 305  41 178   70 696  100 345
4       4       Brunei    b.d.  56 148  67 030   79 284   79 530

In [4]:
del df['Pozycja']

In [12]:
df[['1980', '1990', '2000', '2010', '2018']].str.strip()

AttributeError: 'DataFrame' object has no attribute 'str'

In [6]:
df.to_excel('per_capita.xlsx', sheet_name='panstwa')

In [8]:
df.columns

Index(['Państwo', '1980', '1990', '2000', '2010', '2018'], dtype='object')

In [10]:
df[['1980', '1990', '2000', '2010', '2018']] = df[['1980', '1990', '2000', '2010', '2018']].apply(pd.to_numeric)

ValueError: ('Unable to parse string "72\xa0279" at position 0', 'occurred at index 1980')